*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('../../images/DangHomestayImages/1.jpg');
	background-position: center;
	height: 100vh;
	width: 100%;
	
}
.form-post{
	
	width: 850px;
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translate(-50%,-00%);
	filter:brightness(100%);
	z-index:99;
}
.head-form{
	height: 80px;
	background-color: #ffffff;
}
.head-form div{
	line-height: 80px;
	

}
.left{
	float: left;
	margin-left: 50px;
	font-size: 20px;
}
.right{
	float: right;
	display: flex;
}
.right a{
	text-decoration: none;
	width: 60px;

}

.content{
	position: absolute;
	line-height: 50px;
	left: 50%;
	top: 45%;
	transform: translate(-50%,-50%);
	line-height: 60px;
}
a img {
	height: 40px;
	width: 40px;
	border-radius: 40px;
}
.status{
	height: 35px;
	width: 300px;
	background:rgba(0,0,0,0.5);
	padding:0 10px;
	color: #eee;
	border:none;
	border-radius: 8px;
	margin-left: 30px;
	cursor: pointer;
	border:0.4px solid white;
}
.add-picture{
	background-color: #ffa502;
	width: 120px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	color: white;
	font-weight: 600;
	cursor: pointer;
	margin-left: 120px;
	margin-top: 10px;
	border:0.1px solid white;
}
.body-form{
	height: 350px;
	
}
.bot-form{
	height: 150px; 
	background: #130f40;
}
.col{
	float: left;
	width: 22%;
	margin-left: 20px;
	box-sizing: border-box;
	height: 100%;

}
#col{
	color: white;
	text-align: center;
	line-height:40px;
	font-size: 24px;

}
.input{
	width: 90%;
	height: 20%;
	text-align: center;
	border-radius: 5px;
	border:0.5px solid #808e9b;
	margin-top: 30px;
	background: none;
	color: #eee;
}






