<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Website tìm kiếm Homestay</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<link rel="stylesheet" type="text/css" href="css/footer.css" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap-css -->
	<link href="css/owl.carousel.css" rel="stylesheet"><!-- Owl-carousel-CSS -->
	<link href="css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- pop-up css --> 
	<link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="css/poposlides.css" type="text/css" media="all" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script type="text/javascript" src="js/jquery-3.3.1.min.js">
	</script>
	<script type="text/javascript" src="js/jquery.validate.min.js">
	</script>
	
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<div class="demo-inner-content" id="home">
	<div class="main_agileits">
	<!--/banner-info-->
	<!-- header -->
		<div class="header-w3layouts"> 
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top"> 
				<div class="container">
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right cl-effect-15">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
							<li><a class="page-scroll scroll" href="../Homs_ht/Homestay/Homs/index.html">Homestay</a></li>
							<li><a class="page-scroll scroll" href="">Giới Thiệu</a></li>
							<li><a class="page-scroll scroll" href="">Yêu Thích</a></li>
							<li><a class="page-scroll scroll" href="">Khách Hàng</a></li>
							<li><a class="page-scroll scroll" href="">Liên hệ</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>  
		</div>	

	<form class="form"name="frmLogin" id="frmLogin" action="doimatkhau.php" method=post>
	<div class="header">
		<h2>Đổi mật khẩu</h2>	
		<p>
			<label>Nhập mật khẩu hiện tại(*)</label>
			<input name="password" id="pw" value="" type="password" placeholder="Nhập mật khẫu hiện tại" />
		</p>
		<p>
			<label>Nhập mật khẩu mới (*)</label>
			<input name="password" id="password" value="" type="password" placeholder="Nhập mật khẩu mới" />
		</p>
		<p>
			<label>Xác nhận mật khẩu (*)</label>
			<input  name="repassword"id="repassword" value="" type="password" placeholder="Xác nhận mật khẩu" />	
		</p>
		<p>
			<input type="submit" name="submit" value="Lưu thông tin" />
			
		</p>
		</div>
	</form>	
	<div class="footer">
			<div class="status">
				<p>Đặt phòng homestay nhanh chóng, trải nghiệm hạng sang 
				 - Nền tảng đặt phòng homestay trực tuyến #1 ở Việt Nam với tốc độ xử lý nhanh, thanh toán an toàn và có hơn 100.000 homestay, villa hạng sang với mức giá tốt
				</p>
			</div>
			<div class="infor">
				<ul class="col1">
						<h3>Về chúng tôi</h3>
						<li><a href="">Giới thiệu</a></li>
						<li><a href="">Điều khoản hoạt động</a></li>
						<li><a href="">Chính sách bản quyền</a></li>
						<li><a href="">Chính sách bảo mật</a></li>
					<li><a href="">Chính sách phát ngôn</a></li>
					<li><a href="">Quy chế hoạt động sàn giao dịch TMĐT</a></li>
				</ul>
				<ul class="col1">
					<h3>Hổ trợ</h3>
					<li><a href="">Câu hỏi thường gặp</a></li>
					<li><a href="">Chính sach hủy</a></li>
					<li><a href="">Hướng dẫn sử dụng</a></li>
				</ul>
				<ul class="col1">
					<h3>Cẩm nang du lịch</h3>
					<li><a href="">Đà Lạt</a></li>	
					<li><a href="">Đà Nẵng</a></li>
					<li><a href="">Hà Nội</a></li>
					<li><a href="">Sapa</a></li>
				</ul>
				<ul class="col1">
					<li><a href="" class="icon"><i class="fa fa-apple-pay">Apple Pay</i></a></li>
					<li><a href="" class="icon"><i class="fa fa-google-play">Google Play</i></a></li>
					<li><a href="" class="icon"><i class="fa fa-facebook"></i></a>
						<a href="" class="icon"><i class="fa fa-twitter-square"class="icon"></i></a>
						<a href="" class="icon"><i class="fa fa-youtube-square"class="icon"></i></a>
						<a href="" class="icon"><i class="fa fa-instagram"></i></a>
					</li>
					<li><a href="" class="icon"><i class="fa fa-cc-visa">Visa</i></a></li>
					<li><a href="">Bắt kịp xu hướng du lịch cùng thế giới</a></li>
					<li>
						<a href="">Đăng ký email để nhận thông tin </a>
					</li>
					<li id="gmail"><input type="gmail" name="" class="gmail" placeholder="Nhap email cua ban"></li>
					
				</ul>
			</div>
		</div>
	
</body>
<script type="text/javascript">
   $(document).ready(function (){
	$('#frmLogin').validate({
	  rules : {
		
		"password": {
					required: true,
					
				
				},
		"repassword" :{
			required:true,
			
			equalTo: "#password",
		},
			
	  },
	messages:{
		
		"password": {
				required: "Vui lòng nhập Password",
				
				
			  },
		"repassword" :{
			required: "Vui lòng nhập  lại Password",
			equalTo: "nhập sai password",
		},
	},
	 });	
   });
</script>

</html>