<div class="footer">
  <div class="status">
    <p>Đặt phòng homestay nhanh chóng, trải nghiệm hạng sang 
     - Nền tảng đặt phòng homestay trực tuyến #1 ở Việt Nam với tốc độ xử lý nhanh, thanh toán an toàn và có hơn 100.000 homestay, villa hạng sang với mức giá tốt
    </p>
  </div>
  <div class="infor">
    <ul class="col1">
        <h3>Về chúng tôi</h3>
        <li><a href="">Giới thiệu</a></li>
        <li><a href="">Điều khoản hoạt động</a></li>
        <li><a href="">Chính sách bản quyền</a></li>
        <li><a href="">Chính sách bảo mật</a></li>
      <li><a href="">Chính sách phát ngôn</a></li>
      <li><a href="">Quy chế hoạt động sàn giao dịch TMĐT</a></li>
    </ul>
    <ul class="col1">
      <h3>Hổ trợ</h3>
      <li><a href="">Câu hỏi thường gặp</a></li>
      <li><a href="">Chính sach hủy</a></li>
      <li><a href="">Hướng dẫn sử dụng</a></li>
    </ul>
    <ul class="col1">
      <h3>Cẩm nang du lịch</h3>
      <li><a href="">Đà Lạt</a></li>
      <li><a href="">Đà Nẵng</a></li>
      <li><a href="">Hà Nội</a></li>
      <li><a href="">Sapa</a></li>
    </ul>
    <ul class="col1">
      <li><a href="" class="icon"><i class="fa fa-apple-pay">Apple Pay</i></a></li>
      <li><a href="" class="icon"><i class="fa fa-google-play">Google Play</i></a></li>
      <li><a href="" class="icon"><i class="fa fa-facebook"></i></a>
        <a href="" class="icon"><i class="fa fa-twitter-square"class="icon"></i></a>
        <a href="" class="icon"><i class="fa fa-youtube-square"class="icon"></i></a>
        <a href="" class="icon"><i class="fa fa-instagram"></i></a>
      </li>
      <li><a href="" class="icon"><i class="fa fa-cc-visa">Visa</i></a></li>
      <li><a href="">Bắt kịp xu hướng du lịch cùng thế giới</a></li>
      <li>
        <a href="">Đăng ký email để nhận thông tin </a>
      </li>
      <li id="gmail"><input type="gmail" name="" class="gmail" placeholder="Nhap email cua ban"><i class="fas fa-paper-plane"></i></li>
      
    </ul>
  </div>
</div><!----footer--->